body {
	font-family:Helvetica;
}

header {
	padding: 10px;
	background: #ddf;
	font-size: 26px;
}

h2 {
	padding: 10px;
	background: #ddd;
}

ul {
}

ul li {
	list-style: none;
	padding: 10px;
	margin: 5px;
	background: #eee;
}
